<button
  type="button"
  (click)="showInfo()"
  class="flex items-center justify-center w-12 h-12 rounded-full bg-theme-primary text-theme-white"
>
  <mat-icon class="!w-8 !h-8 !text-[32px]">info</mat-icon>
</button>

<ng-template #about>
  <div class="sticky -top-0.5 px-4 sm:px-0 pb-4">
    <h3 class="text-base font-bold leading-7">Pi.Exchange Challenge</h3>
  </div>
  <dl class="divide-y divide-gray-300">
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt
        class="sticky top-0 flex items-center gap-2 text-sm font-medium leading-6"
      >
        Author
      </dt>
      <dd>Tran Duc Phuong</dd>
    </div>

    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt
        class="sticky top-0 flex items-center gap-2 text-sm font-medium leading-6"
      >
        Repositor
      </dt>
      <dd>
        <a
          href="https://github.com/tdp1999/giphy-challenge"
          target="_blank"
          class="primary-link"
          >Github</a
        >
      </dd>
    </div>

    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt
        class="sticky top-0 flex items-center gap-2 text-sm font-medium leading-6"
      >
        Start Date
      </dt>
      <dd><time>19/07/2023</time></dd>
    </div>

    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4sm:px-0">
      <dt
        class="sticky top-0 flex items-center gap-2 text-sm font-medium leading-6"
      >
        End Date
      </dt>
      <dd><time>22/07/2023</time></dd>
    </div>

    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt
        class="sticky top-0 flex items-center gap-2 text-sm font-medium leading-6"
      >
        Stack
      </dt>
      <dd>Angular, TailwindCSS</dd>
    </div>
  </dl>
</ng-template>
